<h1>Investment Csv Export#show</h1>

<% if @calculated_value.present? %>
  <h2>Informacion de Inversion:</h2>
  <table>
    <thead>
      <tr>
        <th>Moneda</th>
        <th>Interés Mensual</th>
        <th>Balance Inicial</th>
        <th>Balance Proyectado Final(USD)</th>
      </tr>
    </thead>
    <tbody>
      <% @calculated_value.each do |result| %>
        <tr>
          <td><%= result[:currency] %></td>
          <td><%= result[:monthly_rate] %>%</td>
          <td><%= result[:initial_balance] %></td>
          <td>$<%= result[:final_projected_balance] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>No hay resultados disponibles. Algo salio mal o necesitas primero exportar un archivo csv.</p>
<% end %>

<br><%= link_to 'Exportar CSV', crypto_csv_exports_create_path(format: :csv, calculated_value: @calculated_value) %>
<br><%= link_to 'Exportar JSON', crypto_csv_exports_create_path( format: :json, calculated_value: @calculated_value)%>
