<span id="current-time"><%= Time.current.strftime("%Y-%m-%d %H:%M:%S") %></span>
<br>
<table border="1">
  <thead>
    <tr>
      <th>Crypto</th>
      <th>USD a Crypto</th>
      <th>Crypto a USD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cardano</td>
      <td>$<%= @ada["rate"] %></td>
      <td>Un ADA vale <%= number_to_currency(1 / @ada["rate"]) %> USD</td>

    </tr>
    <tr>
      <td>Bitcoin</td>
      <td>$<%= @btc["rate"] %></td>
      <td>Un BTC vale <%= number_to_currency(1 / @btc["rate"]) %> USD</td>
    </tr>
    <tr>
      <td>Ether</td>
      <td>$<%= @eth["rate"] %></td>
      <td>Un ETH vale <%= number_to_currency(1 / @eth["rate"]) %> USD</td>
    </tr>
  </tbody>
</table>

<br><%= link_to "Invest", new_crypto_csv_import_path %>
